@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">
        Prueba Técnica para <br />
        Desarrollador Web en .NET
    </h1>
    Clic en la opción de Libros
</div>
